<a href="https://colab.research.google.com/github/tohnperfect/DWDM21/blob/main/Data101_(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความที่อยู่ใน textbox จะเป็น ภาษา markdown

ข้อดีหนึ่งของ Python คือมี package สำหรับทำงานต่างๆมากมาย

ซึ่ง pandas เป็น package สำหรับการทำงานกับข้อมูลที่อยู่ในรูปแบบตาราง

โดย pandas จะเรียกตารางนั้นว่า dataframe

In [2]:
import pandas # วิธีเรียกใช้ package คือ import ตามด้วยชื่อ package

In [3]:
import pandas as pd # เหมือนกับข้างบนแต่ว่า ตั้งชื่อให้ package ที่โหลดมาใหม่ว่า pd

ไฟล์ .csv (CSV = comma separated values) เป็นไฟล์หลักที่เราจะได้ใช้กันในวิชานี้

In [4]:
data_df = pd.read_csv('data.csv')

In [5]:
data_df

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

In [6]:
data_df2 = pandas.read_csv('data.csv')
data_df2

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

# Basic Python
## Variables

ข้อกำหนดในการตั้งชื่อตัวแปร


1.   ชื่อห้ามมีเว้นวรรค
2.   (พยายาม)ใช้ภาษาอังกฤษ
3.   ตัวเล็กกับตัวใหญ่ แตกต่างกัน (case sensitive)
4.   ห้ามใช้ตัวเลขเป็นตัวหน้า

In [8]:
variable_a = 12
variable_b = 'abcde'  # ' เรียกว่า quote
variable_c = variable_a

In [9]:
variable_a

12

In [10]:
variable_b

'abcde'

In [11]:
variable_c

12

In [12]:
# ชื่อห้ามมีเว้นวรรค
variable a = 6

SyntaxError: ignored

In [17]:
# (พยายาม)ใช้ภาษาอังกฤษ
# colab ใช้ภาษาไทยเป็นชื่อตัวแปรได้ แต่ไม่ควรใช้
ตัวแปร = 3
ตัวแปร

3

In [18]:
# ตัวเล็กกับตัวใหญ่ แตกต่างกัน (case sensitive)
v_a = 1
V_a = 2
print(v_a)
print(V_a)

1
2

In [19]:
# ตัวเล็กกับตัวใหญ่ แตกต่างกัน (case sensitive)
v_a = 1
v_a = 2
print(v_a)
print(v_a)

2
2

In [20]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
2 = 1

SyntaxError: ignored

In [21]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
2ab = 1

SyntaxError: ignored

In [22]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
variable1 = 1

In [23]:
print(variable1)

1

In [24]:
variable_a = 12
variable_b = 'abcde'  # ' เรียกว่า quote
variable_c = variable_a
variable_d = -41.2
variable_4 = "KKU" # " เรียกว่า double quote

In [25]:
variable_x = variable_c + variable_d
print(variable_x)

-29.200000000000003

In [26]:
variable_a + variable_b

TypeError: ignored

In [27]:
print(variable_b + variable_4)

abcdeKKU

## Casting int() float() str()

In [28]:
print(variable_x)
print(int(variable_x))

-29.200000000000003
-29

In [30]:
V_X = str(variable_x)
print(V_X)

-29.200000000000003

In [31]:
V_X + variable_a

TypeError: ignored

In [32]:
variable_a + V_X

TypeError: ignored

In [33]:
V_X

'-29.200000000000003'

In [34]:
float(V_X)

-29.200000000000003

## Data Structure
### list()

In [35]:
list_a = [1,2,0.2,'abs'] # [] square brackets
list_b = [2,'xyz',list_a,[1,2,0.0]]

In [36]:
list_a

[1, 2, 0.2, 'abs']

In [37]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [38]:
len(list_b)

4

In [39]:
list_b[3]

[1, 2, 0.0]

In [40]:
list_b[3][1]

2

string คือ list ของ ตัวหนังสือ

In [41]:
a = 'Stat KKU'

In [42]:
a[4]

' '

### วิธีสร้าง list ว่าง

In [43]:
list_c = list() #แบบที่ 1
list_d = [] #แบบที่ 2

In [45]:
list_c

[]

In [46]:
list_d

[]

เติมค่าลงไปใน list  (.append())

In [47]:
list_d.append('a')

In [48]:
list_d

['a']

In [49]:
list_d.append(56)

In [50]:
list_d

['a', 56]

#### การชี้ค่าใน list (indexing)


1.   ใช้ลำดับในการชี้
2.   ลำดับเริ่มจาก 0
3.   สามารถชี้จากข้างหลังได้โดยใช้ negative index

In [51]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [52]:
list_b[-1]

[1, 2, 0.0]

### list slicing

In [53]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

เราจะตัดlist โดยเอาตั้งแต่ [ตัวหน้า:ตัวก่อนตัวหลัง]   
ถ้าเป็นสัญลักษณ์คณิตศาสตร์ [ตัวหน้า:ตัวหลัง] -> [ตัวหน้า,ตัวหลัง)

In [54]:
list_ex[1:6]

[2, 3, 5, 6, 8]

In [55]:
list_ex[4:]

[6, 8, -1, 20, 50, 0]

In [56]:
list_ex[:6]

[1, 2, 3, 5, 6, 8]

[จุดเริ่มต้น:จุดสุดท้าย:step]

In [60]:
list_ex

[1, 2, 3, 5, 6, 8, -1, 20, 50, 0]

In [59]:
list_ex[::2]

[1, 3, 6, -1, 50]

In [62]:
list_ex[::-1]  # การกลับ list

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [63]:
a

'Stat KKU'

In [64]:
a[5:]

'KKU'

In [65]:
a[-3:]

'KKU'

In [68]:
a[5:8]

'KKU'

In [69]:
a[5::]

'KKU'

In [70]:
a[-3::]

'KKU'

In [71]:
a[-3::1]

'KKU'

### list + list

In [72]:
print(list_a)
print(list_b)

[1, 2, 0.2, 'abs']
[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [73]:
list_a + list_b

[1, 2, 0.2, 'abs', 2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

format string

```python
f'string{ตัวแปร}' 
```
{} เรียกว่า curly brackets

In [77]:
f'ตัวแปร list_a มีค่าคือ {list_a}'

"ตัวแปร list_a มีค่าคือ [1, 2, 0.2, 'abs']"

## Loop

```python
for ตัวแปรที่จะรับค่าจากลิสต์ in ลิสต์ที่จะนำมาวนลูป:
    do something
```

In [76]:
for i in [1,2,3,4,5]:
    print(i+1)

2
3
4
5
6

In [78]:
for x in [1,2,3,4,5]:
    print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [79]:
list5=[1,2,3,4,5]
for x in list5:
    print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [82]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [83]:
for i in range(2,7):
    print(i)

2
3
4
5
6

In [84]:
for i in range(2,7,2):
    print(i)

2
4
6

In [85]:
for i in range(5):
    print('hahaha')

hahaha
hahaha
hahaha
hahaha
hahaha

In [86]:
for i in range(5):
    print('hahaha')
    x = i + 3
    print(f'i={i} x={x}')

hahaha
i=0 x=3
hahaha
i=1 x=4
hahaha
i=2 x=5
hahaha
i=3 x=6
hahaha
i=4 x=7

### Nested loop

In [89]:
for i in range(3):
    print(f'now i = {i}')
    print('start j loop')
    for j in range(4):
        print(f'i = {i} j = {j} i+j = {i+j}')
    print('end j loop')

now i = 0
start j loop
i = 0 j = 0 i+j = 0
i = 0 j = 1 i+j = 1
i = 0 j = 2 i+j = 2
i = 0 j = 3 i+j = 3
end j loop
now i = 1
start j loop
i = 1 j = 0 i+j = 1
i = 1 j = 1 i+j = 2
i = 1 j = 2 i+j = 3
i = 1 j = 3 i+j = 4
end j loop
now i = 2
start j loop
i = 2 j = 0 i+j = 2
i = 2 j = 1 i+j = 3
i = 2 j = 2 i+j = 4
i = 2 j = 3 i+j = 5
end j loop

## Condition
## Function